{% extends 'base.html' %}

{% block content %}
<section>
     <div class="container">
    {% if user.is_authenticated %}
    <header>
        <nav class="navbar navbar-default">
            <div class="nav-header">
            <a class="btn btn-primary pull-right" href="{% url 'logout' %}">logout</a>
            </div>
        </nav>
    <h3> Hello {{ user.username }} </h3>
        <h4>Welcome to Invaana Jobs Page</h4>

<br><br>

        <div class="row">

            <div class="col-md-10">
                <h3>Jobs</h3>
                <hr>
            {% for ob in jobs %}
                <div>
                {{ ob.title }}
                    <span> <a class="btn btn-info pull-right" href="">View</a></span>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>

    </div>
    {% else %}
      <a class="btn btn-primary" href="{% url 'login-page' %}">login</a>
    {% endif %}
  </header>
</section>

{% endblock %}


